* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

    --main-size: 1em;
    --border: .01em;
    --border-size: 1px;
    --sec-size: .5em;
    --thir-size: .9em;
}
.hidden { display: none; }
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    position: fixed;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border) solid;
    height: 2em;
    padding: var(--sec-size);
    cursor: pointer;
}
.button-container #open-dropdown {
    border: none;
    outline: none;
    background-color: transparent;
}
.button-container #dropdown-arrow { width: 1em; }
#dropdown-options {
    position: fixed;
    bottom: 15em;
    width: 13em;
    margin-top: 1em;
}
#dropdown-options .holder-text-img{
    width: 13em;
    cursor: pointer;
    padding: var(--sec-size);
}
#dropdown-options .holder-text-img:nth-child(1){
    border-top: var(--border-size) solid;
    border-left: var(--border-size) solid;
    border-right: var(--border-size) solid;
    border-bottom: var(--border-size) solid;
}
#dropdown-options .holder-text-img:nth-child(2){
    border-left: var(--border-size) solid;
    border-right: var(--border-size) solid;
    border-bottom: var(--border-size) solid;
}
#dropdown-options .holder-text-img:nth-child(3){
    border-left: var(--border-size) solid;
    border-right: var(--border-size) solid;
    border-bottom: var(--border-size) solid;
}